<?xml version="1.0"?>
<appSettings>
  <add key="serverName" value="cg-x-nova-01v"/>
  <add key="portNumber" value="12138"/>
  <add key="systemName" value="Nova"/>
  <add key="clientApplicationName" value="Claims"/>
  <add key="userName" value="root"/>
  <add key="LogFileLocation" value="C:\Logs\MediaManagement.log"/>
  <add key="Octopus.Environment.Name" value="" />
  <add key="DeveloperGroup" value="zz_ifasalesdev@clientele.co.za" />
  <add key="PresentationVenueQueryService" value="http://presentationvenueapitest.clientele.local/api/"/>
</appSettings>