<?xml version="1.0"?>
<connectionStrings>
  <add name="SqlTransport" connectionString="data source=CG-T-SQL-03V\sql2014;Initial Catalog=CG_T_DB_MSGBRKR;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  <add name="Media" connectionString="data source=CG-T-SQL-03V\sql2014;Initial Catalog=CG_T_DB_MEDIA;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
</connectionStrings>